@page "/addpost"
@page "/editpost/{PostId}"

@layout MainLayout
@inherits PostEditorModel

@if (IsEdit)
{
    <WdHeader Heading="WordDaze" SubHeading="Edit Post"></WdHeader>
}
else
{
    <WdHeader Heading="WordDaze" SubHeading="Add Post"></WdHeader>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @if (IsEdit)
            {
            <div class="editor">
                <input @bind=@ExistingBlogPost.Title placeholder="Title" class="form-control" />
                <textarea @ref="editor" @bind=@ExistingBlogPost.Post @onkeyup="@UpdateCharacterCount" placeholder="Write your post (Supports Markdown)" rows="25"></textarea>
                <div class="character-count float-left">@CharacterCount Characters</div>
                <button class="btn btn-primary float-right" @onclick="@DeletePost">Delete</button>
                <button class="btn btn-primary float-right" @onclick="@UpdatePost">Update</button>
            </div>
            }
            else
            {
            <div class="editor">
                <input @bind=@Title placeholder="Title" class="form-control" />
                <textarea @ref="editor" @bind=@Post @onkeyup="@UpdateCharacterCount" placeholder="Write your post (Supports Markdown)" rows="25"></textarea>
                <div class="character-count float-left">@CharacterCount Characters</div>
                <button class="btn btn-primary float-right" @onclick="@SavePost">Post</button>
            </div>
            }
        </div>
    </div>
</div>
